.gitattributes text eol=lf
*.sh text eol=lf
*.ps1 text eol=crlf
*.swift text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.xcconfig text eol=lf
*.md text eol=lf
*.pbxproj text eol=lf
*.plist text eol=lf
*.xcscheme text eol=lf
*.xcworkspacedata text eol=lf
*.json text eol=lf
Gemfile text eol=lf
